.remainingNumber {
    font-size: 5vw;
}

.timerContainer {
    margin-top: 1vw;
    background-color: #fefcec;
    float: left;
    align-items: center;
    align-content: center;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.card {
    flex-direction: column;
    display: flex;
}

.remainingCategory {
    font-size: 4vw;
}