.invitationContainer {
    margin: 3vw 1vw 1vw 1vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.invitationCard {
    box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 10px;
    padding: 5vw;
    width: 80%;
    height: 100%;
    background-size: 100%;
    background-image: url('../assets/Invitation.jpeg');
}

.invitationText {
    display: flex;
    text-align: center;
    font-size: 2.5vw;
    flex-direction: column;
}