@import url('https://fonts.googleapis.com/css2?family=Qwitcher+Grypen:wght@400;700&display=swap');

.App {
    overflow: auto;
    display: flex;
    align-content: center;
    flex-direction: column;
}

@media screen and (min-width: 768px) {
    .App{
        width: 90%;
    }
}

@media screen and (min-width: 992px) {
    .App{
        width: 70%;
    }
}